# Virtual environments
**/venv/
**/venv_new/
**/.venv/

# Node dependencies
**/node_modules/

# Logs and cache
**/*.log
**/__pycache__/
**/*.pyc

# Local env files
**/.env.local
**/.env.*.local

# OS files
.DS_Store
Thumbs.db
